@charset "UTF-8";
.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e44d26;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#e44d26), color-stop(40%, #f16529));
  background: linear-gradient(to right, #e44d26, #f16529 40%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/* la secci├│n del heroe es la parte central que engloba t├¡tulo, subtitulo y botones*/
.hero {
  color: #FDFDFD;
  text-align: center;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__title {
  font-family: 'Comfortaa', cursive;
  font-size: 10vmin;
  /*1.8em*/ }

.hero__subtitle {
  font-family: 'Pompiere', cursive;
  padding-top: .6em;
  font-size: 1.5em;
  -webkit-animation: subtitle 2s;
  animation: subtitle 2s; }
@-webkit-keyframes subtitle {
  0% {
    font-size: 0em; }
  100% {
    font-size: 1.5em; } }
@keyframes subtitle {
  0% {
    font-size: 0em; }
  100% {
    font-size: 1.5em; } }
.hero__buttons {
  margin: 3em 2em 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__contact, .hero__jobs {
  font-family: 'Comfortaa', cursive;
  padding: .8em 1.5em .7em 1.5em;
  font-size: 1.5em;
  color: #FDFDFD;
  border: 4px solid #FDFDFD;
  border-radius: 8px;
  background: none;
  -webkit-box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.06);
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.06);
  -webkit-transition: border .5s, color .5s, -webkit-box-shadow .5s;
  transition: border .5s, color .5s, -webkit-box-shadow .5s;
  transition: border .5s, color .5s, box-shadow .5s;
  transition: border .5s, color .5s, box-shadow .5s, -webkit-box-shadow .5s; }
  .hero__contact:hover, .hero__jobs:hover {
    border: 4px solid #fff;
    color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.hero__contact {
  margin-bottom: 1.5em; }

/*Inicio de Media queries*/
@media screen and (min-width: 450px) {
  .hero__subtitle {
    padding-top: .6em;
    font-size: 1.8em; }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 1.8em; } }
  @keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 1.8em; } }
  .hero__buttons {
    margin: 4em 18% 0 18%; }

  .hero__contact, .hero__jobs {
    padding: .8em 2em .7em 2em; } }
@media screen and (min-width: 600px) {
  .hero__buttons {
    margin-top: 5em; } }
@media screen and (min-width: 750px) {
  .hero__subtitle {
    padding-top: .8em;
    font-size: 2.2em; }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 2.2em; } }
  @keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 2.2em; } }
  .hero__buttons {
    margin: 6em 0 0 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .hero__contact, .hero__jobs {
    margin-bottom: 0;
    padding: .8em 2em .7em 2em;
    margin: 1em; } }
@media screen and (min-width: 950px) {
  .hero__subtitle {
    font-size: 2.5em; }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 2.5em; } }
  @keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 2.5em; } }
  .hero__buttons {
    margin: 8em 0 0 0; } }
@media screen and (min-width: 1200px) {
  .hero__subtitle {
    font-size: 3em; }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 3em; } }
  @keyframes subtitle {
    0% {
      font-size: 0; }
    100% {
      font-size: 3em; } }
  .hero__buttons {
    margin-top: 10em; } }

/*# sourceMappingURL=style.css.map */
