@import "_configuracion";
.main{
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: $orangeDark; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from($orangeDark) , color-stop(40%, $orangeLight));
    background: linear-gradient(to right, $orangeDark , $orangeLight 40%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &__background{
        position: absolute;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:none;
    }
}
/* la sección del heroe es la parte central que engloba título, subtitulo y botones*/
.hero{
    color: $white;
    text-align: center;
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1em;
    max-width: 90%;
    &__title{
        font-family: 'Comfortaa', cursive;
        font-size: 10vmin;/*1.8em*/
    }
    &__subtitle{
        font-family: 'Pompiere', cursive;
        padding-top: 1em;
        font-size: 1.5em;
        -webkit-animation: subtitle 2s;
                animation: subtitle 2s;
        @-webkit-keyframes subtitle{
            0%{
                font-size: 0em;
            }
            100%{
                font-size: 1.5em;
            }
        }
        @keyframes subtitle{
            0%{
                font-size: 0em;
            }
            100%{
                font-size: 1.5em;
            }
        }
    }
    &__buttons{
        margin-top: 4em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }
    &__jobs{
        font-family: 'Comfortaa', cursive;
        padding: .8em 1.5em .7em 1.5em;
        font-size: 1.5em;
        color: $white;
        border: 4px solid $white;
        border-radius: 8px;
        background: none;
        -webkit-box-shadow: 9px 9px 9px rgba(0,0,0,0.06);
                box-shadow: 9px 9px 9px rgba(0,0,0,0.06);
        -webkit-transition: border .5s, color .5s, -webkit-box-shadow .5s;
        transition: border .5s, color .5s, -webkit-box-shadow .5s;
        transition: border .5s, color .5s, box-shadow .5s;
        transition: border .5s, color .5s, box-shadow .5s, -webkit-box-shadow .5s;
    
        &:hover{
            border: 4px solid #fff;
            color: #fff;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        &:active{
            -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
    }
    &__footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 4em;
    }
    &__linkedin, &__github, &__twitter, &__email{
        width: 45px;
        height: 45px;
        margin: .5em;
        /*
        &:hover{
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        &:active{
            -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        */
    }
}
/***** Jobs *****/
.jobs{
    width: 90%;
    background: $white;
    border-radius: 5px;
    border: 1px solid $orangeLight;
    color: $orangeLight;
    padding: 2em 1em;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 5%;
    z-index: 100;
    display: none;
    &__article{
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
    }
    &__title{
        font-family: 'Comfortaa', cursive;
        font-size: 1.1em;
        margin-bottom: 1.5em;
    }
    &__image{
        border-radius: 5px;
        border: 2px solid $orangeLight;
        margin-bottom: 1em;
    }
    &__close{
        position: absolute;
        top: -12px;
        right: -12px;
        width: 40px;
        height: 38px;
        border-radius: 50%;
        background: $white;
        border: 3px solid $white;
        color: $orangeLight;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: bold;
    }
}
/*Inicio de Media queries*/
@media screen and (min-width:450px) {
    .hero__subtitle{
        padding-top: .6em;
        font-size: 1.8em;
        @-webkit-keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 1.8em;
            }
        }
        @keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 1.8em;
            }
        }
    }
    .hero__jobs{
        padding: 1em 1.5em .9em 1.5em;
        font-size: 1.6em;
        //padding: .8em 2em .7em 2em;
    }
    .jobs{
        width:90%;
        left: 5%;
        top: 15%;
        padding: 3em 1em;
        &__title{
            font-size: 1.5em;
        }
    }
}
@media screen and (min-width:600px) {
    .hero__buttons, .hero__footer{
        margin-top: 5em;
    }
    .jobs{
        padding: 5em 1em;
    }
    .hero__linkedin, .hero__github, .hero__twitter, .hero__email{
        width: 55px;
        height: 55px;
        margin: .5em;
    }
}
@media screen and (min-width:750px) {
    .hero__subtitle{
        padding-top: .8em;
        font-size: 2.2em;
        @-webkit-keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 2.2em;
            }
        }
        @keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 2.2em;
            }
        }
    }
    .hero__buttons, .hero__footer{
        margin-top: 6em;
    }
    .hero__jobs{
        width: 90%;
        align-self: center;
    }
    .jobs{
        width: 80%;
        left: 10%;
        top: 20%;
    }
}
@media screen and (min-width:950px) {
    .hero__subtitle{
        font-size: 2.5em;
        @-webkit-keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 2.5em;
            }
        }
        @keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 2.5em;
            }
        }
    }
    .hero__buttons, .hero__footer{
        margin-top: 8em;
    }
    .hero__jobs{
        padding: 1.1em 1.5em 1em 1.5em;
        font-size: 1.8em;
    }
    .jobs{
        width: 60%;
        left: 20%;
    }
}
@media screen and (min-width:1200px) {
    .hero__subtitle{
        font-size: 3em;
        @-webkit-keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 3em;
            }
        }
        @keyframes subtitle{
            0%{
                font-size: 0;
            }
            100%{
                font-size: 3em;
            }
        }
    }
    .hero__jobs{
        width: 70%;
        align-self: center;
        font-size: 2em;
    }
    .jobs{
        width: 50%;
        left: 25%;
    }
}
@media screen and (min-width:1200px) {
    .jobs{
        width: 40%;
        left: 30%;
        top: 25%;
    }
}