@charset "UTF-8";
.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e44d26;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#e44d26), color-stop(40%, #f16529));
  background: linear-gradient(to right, #e44d26, #f16529 40%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

/* la sección del heroe es la parte central que engloba título, subtitulo y botones*/
.hero {
  color: #FDFDFD;
  text-align: center;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -6em;
}

.hero__title {
  font-family: 'Comfortaa', cursive;
  font-size: 10vmin;
  /*1.8em*/
}

.hero__subtitle {
  font-family: 'Pompiere', cursive;
  padding-top: 1em;
  font-size: 1.5em;
  -webkit-animation: subtitle 2s;
  animation: subtitle 2s;
}

@-webkit-keyframes subtitle {
  0% {
    font-size: 0em;
  }
  100% {
    font-size: 1.5em;
  }
}

@keyframes subtitle {
  0% {
    font-size: 0em;
  }
  100% {
    font-size: 1.5em;
  }
}

.hero__buttons {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero__jobs {
  font-family: 'Comfortaa', cursive;
  padding: .8em 1.5em .7em 1.5em;
  font-size: 1.5em;
  color: #FDFDFD;
  border: 4px solid #FDFDFD;
  border-radius: 8px;
  background: none;
  -webkit-box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.06);
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.06);
  -webkit-transition: border .5s, color .5s, -webkit-box-shadow .5s;
  transition: border .5s, color .5s, -webkit-box-shadow .5s;
  transition: border .5s, color .5s, box-shadow .5s;
  transition: border .5s, color .5s, box-shadow .5s, -webkit-box-shadow .5s;
}

.hero__jobs:hover {
  border: 4px solid #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero__jobs:active {
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

/***** Jobs *****/
.jobs {
  width: 90%;
  background: #FDFDFD;
  border-radius: 5px;
  border: 1px solid #f16529;
  color: #f16529;
  padding: 2em 1em;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 5%;
  z-index: 100;
  display: none;
}

.jobs__article {
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
}

.jobs__title {
  font-family: 'Comfortaa', cursive;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}

.jobs__image {
  border-radius: 5px;
  border: 2px solid #f16529;
  margin-bottom: 1em;
}

.jobs__close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  background: #FDFDFD;
  border: 3px solid #FDFDFD;
  color: #f16529;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

/*Inicio de Media queries*/
@media screen and (min-width: 450px) {
  .hero__subtitle {
    padding-top: .6em;
    font-size: 1.8em;
  }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 1.8em;
    }
  }
  @keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 1.8em;
    }
  }
  .hero__buttons {
    margin-top: 5em;
  }
  .hero__jobs {
    padding: .8em 2em .7em 2em;
  }
  .jobs {
    width: 90%;
    left: 5%;
    top: 15%;
    padding: 3em 1em;
  }
  .jobs__title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  .hero__buttons {
    margin-top: 5em;
  }
  .jobs {
    width: 60%;
    left: 20%;
    top: 30%;
    padding: 5em 1em;
  }
}

@media screen and (min-width: 750px) {
  .hero__subtitle {
    padding-top: .8em;
    font-size: 2.2em;
  }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2.2em;
    }
  }
  @keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2.2em;
    }
  }
  .hero__buttons {
    margin: 6em 0 0 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .hero__jobs {
    margin-bottom: 0;
    padding: .8em 2em .7em 2em;
    margin: 1em;
  }
  .jobs {
    width: 50%;
    left: 25%;
    top: 20%;
  }
}

@media screen and (min-width: 950px) {
  .hero__subtitle {
    font-size: 2.5em;
  }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2.5em;
    }
  }
  @keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2.5em;
    }
  }
  .hero__buttons {
    margin: 8em 0 0 0;
  }
  .jobs {
    width: 40%;
    left: 30%;
    top: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__subtitle {
    font-size: 3em;
  }
  @-webkit-keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 3em;
    }
  }
  @keyframes subtitle {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 3em;
    }
  }
  .hero__buttons {
    margin-top: 10em;
  }
  .jobs {
    width: 35%;
    left: 32.5%;
    top: 20%;
  }
}
